<div layout="row" layout-align="start stretch" flex="grow" class="main-card-container">
  <div class="main-card"
       (mouseup)="sendGroupNotification()">
    <div class="title">Групповое уведомление</div>
    <div class="image">
      <img src="../../../assets/img/main-card/group-user.png">
    </div>
  </div>

  <div class="main-card"
  (mouseup)="sendUserNotification()">
    <div class="title">Выборочное уведомление</div>
    <div class="image">
      <img src="../../../assets/img/main-card/user.png">
    </div>
  </div>

</div>
