<div class="loader-container"
     *tdLoading="loaderName; mode:'indeterminate'; type:'circle'; strategy:'overlay';">
  <td-dialog class="large-height">
    <td-dialog-title>{{currentMode === mode.EDIT ? 'Редактирование' : 'Создание'}} статьи</td-dialog-title>
    <td-dialog-content>
      <mat-horizontal-stepper #stepper>
        <mat-step label="Основные данные">
          <div flex="grow" class="simple-fields">
            <form [formGroup]="generalInfoForm">
              <div layout="column" layout-align="start stretch" class="fullheight fullwidth">
                <mat-form-field class="fullwidth push-bottom-sm">
                  <mat-label>Название статьи</mat-label>
                  <input matInput tdAutoTrim autocomplete="off"
                         type="text"
                         formControlName="name"
                         [maxlength]="500"/>
                  <span class="error-label" *ngIf="isInvalid('name')" matTooltip="{{getError('name')}}">
                  <mat-icon color="warn">warning</mat-icon>
                </span>
                </mat-form-field>

                <mat-form-field class="fullwidth push-bottom-sm">
                  <mat-label>Тематика статьи</mat-label>
                  <input matInput tdAutoTrim autocomplete="off"
                         type="text"
                         formControlName="topic"
                         [maxlength]="500"/>
                  <span class="error-label" *ngIf="isInvalid('topic')" matTooltip="{{getError('topic')}}">
                  <mat-icon color="warn">warning</mat-icon>
                </span>
                </mat-form-field>

                <mat-form-field class="fullwidth push-bottom-sm">
                  <mat-label>Краткая версия статьи</mat-label>
                  <input matInput tdAutoTrim autocomplete="off"
                         type="text"
                         formControlName="briefText"
                         [maxlength]="500"/>
                  <span class="error-label" *ngIf="isInvalid('briefText')" matTooltip="{{getError('briefText')}}">
                  <mat-icon color="warn">warning</mat-icon>
                </span>
                </mat-form-field>

                <mat-form-field class="fullwidth push-bottom-sm">
                  <mat-label>Язык</mat-label>
                  <mat-select formControlName="language">
                    <mat-option *ngFor="let lang of dicts.languages" [value]="lang.id">
                      {{lang.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </form>
          </div>
        </mat-step>
        <mat-step class="mat-step-large-height" label="Текст статьи">
          <ckeditor [formControl]="textControl" (ready)="onReady($event)" [config]="ckConfig"
                    [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>
        </mat-step>
      </mat-horizontal-stepper>
    </td-dialog-content>
    <td-dialog-actions>
      <button type="button" flex mat-button
              color="primary"
              class="push-right-xs"
              #closeBtn
              (click)="cancel()">Отменить
      </button>
      <button *ngIf="currentArticleId" type="button" flex mat-raised-button
              color="warn"
              class="push-left-xs"
              #acceptBtn
              (click)="delete()">Удалить
      </button>
      <button type="button" flex mat-raised-button
              color="primary"
              class="push-left-xs"
              [disabled]="generalInfoForm.invalid || textControl.invalid"
              #acceptBtn
              (click)="accept()">Создать
      </button>
    </td-dialog-actions>
  </td-dialog>
</div>
