<div class="loader-container"
     *tdLoading="loaderName; mode:'indeterminate'; type:'circle'; strategy:'overlay';">
  <td-dialog [ngClass]="stepper.selectedIndex === 1 ? 'large-height' : ''">
    <td-dialog-title>{{currentMode === mode.EDIT ? 'Редактирование' : 'Создание'}} статьи</td-dialog-title>
    <td-dialog-content>
      <mat-horizontal-stepper #stepper>
        <mat-step label="Основные данные">
          <div flex="grow" class="simple-fields">
            <form [formGroup]="generalInfoForm">
              <div layout="column" layout-align="start stretch" class="fullheight fullwidth">
                <mat-form-field class="fullwidth push-bottom-sm">
                  <mat-label>Название статьи</mat-label>
                  <input matInput tdAutoTrim autocomplete="off"
                         type="text"
                         formControlName="name"
                         [maxlength]="500"/>
                  <span class="error-label" *ngIf="isInvalid('name')" matTooltip="{{getError('name')}}">
                  <mat-icon color="warn">warning</mat-icon>
                </span>
                </mat-form-field>

                <mat-form-field class="fullwidth push-bottom-sm">
                  <mat-label>Тематика статьи</mat-label>
                  <input matInput tdAutoTrim autocomplete="off"
                         type="text"
                         formControlName="topic"
                         [maxlength]="500"/>
                  <span class="error-label" *ngIf="isInvalid('topic')" matTooltip="{{getError('topic')}}">
                  <mat-icon color="warn">warning</mat-icon>
                </span>
                </mat-form-field>

                <mat-form-field class="fullwidth push-bottom-sm">
                  <mat-label>Краткая версия статьи</mat-label>
                  <input matInput tdAutoTrim autocomplete="off"
                         type="text"
                         formControlName="briefText"
                         [maxlength]="500"/>
                  <span class="error-label" *ngIf="isInvalid('briefText')" matTooltip="{{getError('briefText')}}">
                  <mat-icon color="warn">warning</mat-icon>
                </span>
                </mat-form-field>

                <mat-form-field class="fullwidth push-bottom-sm">
                  <mat-label>Язык</mat-label>
                  <mat-select formControlName="language">
                    <mat-option *ngFor="let lang of dicts.languages" [value]="lang.id">
                      {{lang.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>

                <div style="display: flex;">
                  <td-custom-file-input [style]="'display: inline-block'" class="push-bottom-md" formControlName="image"
                                        color="primary" (select)="selectImage()">
                    <mat-icon>attach_file</mat-icon>
                    <span>Выбрать изображение</span>
                  </td-custom-file-input>
                  <div style="display:inline-block; margin-left: 5px;" *ngIf="imageId">
                    <mat-label>Текущее изображение:</mat-label>
                    <button matTooltip="Открыть в новой вкладке" type="button" mat-icon-button (click)="openImage()">
                      <mat-icon mat-button>open_in_new</mat-icon>
                    </button>
                    <button matTooltip="Удалить текущее используемое изображение" type="button" mat-icon-button
                            (click)="imageId = null;">
                      <mat-icon mat-button>remove_circle_outline</mat-icon>
                    </button>
                  </div>
                </div>

                <mat-checkbox color="primary" formControlName="useBackground">
                  Установить стандартный фон
                </mat-checkbox>

              </div>
            </form>
          </div>
        </mat-step>
        <mat-step label="Текст статьи">
          <ngx-ckeditor #myEditor
            [formControl]="textControl"
            data="<p>Здесь может быть Ваш текст!</p>"
          ></ngx-ckeditor>
        </mat-step>
      </mat-horizontal-stepper>
    </td-dialog-content>
    <td-dialog-actions>
      <button type="button" flex mat-button
              color="primary"
              class="push-right-xs"
              #closeBtn
              (click)="cancel()">Отменить
      </button>
      <button *ngIf="stepper.selectedIndex === 1" type="button" flex mat-button
              color="primary"
              class="push-right-xs"
              #prevBtn
              (click)="prevStep(stepper)">Назад
      </button>
      <button *ngIf="currentArticleId" type="button" flex mat-raised-button
              color="warn"
              class="push-left-xs"
              #acceptBtn
              (click)="delete()">Удалить
      </button>
      <button *ngIf="stepper.selectedIndex === 1" type="button" flex mat-raised-button
              color="primary"
              class="push-left-xs"
              [disabled]="generalInfoForm.invalid || textControl.invalid"
              #acceptBtn
              (click)="accept()">{{currentMode === mode.EDIT ? 'Сохранить' : 'Создать'}}
      </button>
      <button *ngIf="stepper.selectedIndex !== 1" type="button" flex mat-raised-button
              color="primary"
              class="push-left-xs"
              [disabled]="generalInfoForm.invalid"
              #acceptBtn
              (click)="nextStep(stepper)">Далее
      </button>
    </td-dialog-actions>
  </td-dialog>
</div>
