.drop-above {
  border-top: 10px solid #5aac69 !important;
  margin-top: -10px;
}

.drop-below {
  border-bottom: 10px solid #5aac69 !important;
  margin-bottom: -10px;
}

.drop-center {
  background-color: #08488f !important;
}

.menu-registry {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;

  .flex-center {
    display: flex;
    flex-wrap: wrap;
  }

  .add-menu-item {
    margin-left: 5px;
    display: flex;
    height: 43px;
  }

  .mat-form-field {
    height: 43px;

    ::ng-deep .mat-form-field-wrapper {
      height: 43px;

      .mat-form-field-flex {
        height: 43px;
        padding: .25em .75em 0 .75em;
      }
    }
  }

  .log-container {
    padding: 5px;
  }
}

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';

.mat-tree-node {
  color: white;
  user-select: none;
  cursor: move;
  width: fit-content;
  margin-top: 20px;

  .tree-node {
    border: 1px solid white;
    display: flex;
    align-items: center;
    min-height: 48px;
    flex: 1;

    .tree-node-content {
      display: flex;
      flex: 1;
      align-items: center;
      background-color: #429dfd;
      padding-right: 20px;
      border-radius: 4px;
    }

    .buttons {
      height: 40px;

      .add-btn {
        margin-left: 5px;
        background: #288a28;
        height: 40px;
      }

      .remove-btn {
        margin-left: 5px;
        background: #9b1616;
        height: 40px;
      }

      .edit-btn {
        margin-left: 5px;
        background: #2466a7;
        height: 40px;
      }

    }
  }

}

.empty-node {
  width: 40%;

  .tree-node-empty-item {
    border: 1px dashed black;
    display: flex;
    align-items: center;
    min-height: 48px;
    flex: 1;
    color: black;
  }
}

/* items moving away to make room for drop */
.cdk-drop-list-dragging .mat-tree-node:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* item being dropped */
.cdk-drag-animating {
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1);
}


