<mat-horizontal-stepper #stepper>

  <mat-step #firstStep label="Как выбрать пункты меню?">
    <div class="text-header">
      <span>Как выбрать пункты меню?</span>
    </div>
    <hr/>
    <div>
      <p>При открытии реестра пунктов меню Вам предлагается выбрать пункты меню какого языка необходимо отобразить.
      </p>
      <p>
        Для того, чтобы сделать этот выбор необходимо в выпадающем списке нажать на один из предлагаемых языков.
      </p>
      <p>
        В случае, если пункты меню по данному языку уже существует, то они отобразятся на экране.
        Иначе будет выведено предупреждение в нижней части экрана о том, что пункты меню по указанному языку не найдены.
        Самое время их добавить!
      </p>
    </div>
    <div class="gif-container">
      <img src="../../../../assets/img/menu-reference/first_step.gif"/>
    </div>
    <div class="step-buttons">
      <button mat-button matStepperNext>Далее</button>
    </div>
  </mat-step>

  <mat-step #firstStep label="Интерфейс реестра пунктов меню">
    <div class="text-header">
      <span>Что значит та или иная иконка/надпись?</span>
    </div>
    <hr/>
    <div>
      <p>
        Рядом с выпадающим списком доступных языков в системе расположены две кнопки:
      </p>
      <div class="img-with-text">
        <div class="float-img">
          <img src="../../../../assets/img/menu-reference/add_menu_item_to_root.png"/>
        </div>
        <div class="text-for-img">
          - добавить пункт меню в корень списка (то есть, добавляемый пункт меню будет иметь 1-й уровень вложенности).
        </div>
      </div>
      <div class="img-with-text">
        <div class="float-img">
          <img src="../../../../assets/img/menu-reference/open-reference.png"/>
        </div>
        <div class="text-for-img">
          - открыть справку по пользованию функционалом реестра пунктов меню (как раз таки эту справку Вы сейчас читаете
          :) )
        </div>
      </div>
      <p>
        Все пункты меню представлены прямоугольными блоками с основной информацией на них. Эта информация содержит два
        важных параметра пункта меню, которые есть у каждого из них - название и тип пункта меню (схема следующая:
        <strong>Название [Тип пункта меню]</strong>)
      </p>
      <p>
        У каждого блока есть, как минимум, две кнопки. Но у пунктов меню типа "Список пунктов меню" добавляется третья.
      </p>
      <div class="img-with-text">
        <div class="float-img">
          <img src="../../../../assets/img/menu-reference/edit_menu_button.png"/>
        </div>
        <div class="text-for-img">
          - редактировать пункт меню. Откроется диалоговое окно в котором можно будет изменить параметры выбранного
          пункта.
        </div>
      </div>
      <div class="img-with-text">
        <div class="float-img">
          <img src="../../../../assets/img/menu-reference/delete_menu_button.png"/>
        </div>
        <div class="text-for-img">
          - удалить пункт меню. По нажатию всплывет подтверждающее окно с целью избежания случайного удаления.
        </div>
      </div>
      <div class="img-with-text">
        <div class="float-img">
          <img src="../../../../assets/img/menu-reference/add_child_menu_item_button.png"/>
        </div>
        <div class="text-for-img">
          - (опционально, доступно лишь у "Список пунктов меню"). Добавляет пункт меню внутрь выбранного, таким образом
          вложенность добавляемого пункта меню будет:
          <вложенность пункта меню, у которого нажата эта кнопка> + 1.
        </div>
      </div>
    </div>

    <div class="step-buttons">
      <button mat-button (click)="cancel()">Закрыть</button>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button matStepperNext>Далее</button>
    </div>
  </mat-step>

  <mat-step label="Как изменить расположение пунктов меню?">
    <div class="text-header">
      <span>Как изменить расположение пунктов меню?</span>
    </div>
    <hr/>
    <div>
      <p>
        Для комфортного и быстрого изменения расположения пунктов меню реализована система, позволяющая перетаскивать
        мышкой блоки, представляющие собой пункты меню, таким образом меняя их порядок.
      </p>
      <p>
        Для того, чтобы начать - зажмите левую кнопку мыши на том блоке, который необходимо перенести. Пункт меню
        можно расположить тремя разными вариантами относительно другого. Рассмотрим каждый отдельно.
      </p>
      <p>
        Случай, когда необходимо разместить выбранный пункт меню <strong>ниже указанного</strong>.

        Для этого необходимо перетащить мышкой выбранный пункт под пункт меню, ниже которого мы хотим видеть наш. При
        этом под указанным блоком будет отображена зеленая полоса, подсказывающая нам о том, где будет расположен
        выбранный пункт меню. Отпускаем левую кнопку мыши и пункты меню меняют свой порядок, согласно тому, как Вы
        решили их расположить.
      </p>
    </div>
    <div class="gif-container">
      <img src="../../../../assets/img/menu-reference/second-step.gif"/>
    </div>
    <div class="step-buttons">
      <button mat-button (click)="cancel()">Закрыть</button>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button matStepperNext>Далее</button>
    </div>
  </mat-step>

  <mat-step label="Как изменить расположение пунктов меню?">
    <div class="text-header">
      <span>Как изменить расположение пунктов меню?</span>
    </div>
    <hr/>
    <div>
      <p>
        Следующий случай - <strong>выше указанного.</strong>
      </p>
      <p>
        В этом случае необходимо навести мышкой выбранный пункт меню над пунктом меню, выше которого необходимо
        расположить. По аналогии с предыдущим случаем отрисованная зеленая полоса подскажет нам о том, где будет
        расположен текущий выбранный пункт меню.
      </p>
    </div>
    <div class="gif-container">
      <img src="../../../../assets/img/menu-reference/third-step.gif"/>
    </div>
    <div class="step-buttons">
      <button mat-button (click)="cancel()">Закрыть</button>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button matStepperNext>Далее</button>
    </div>
  </mat-step>

  <mat-step label="Как изменить расположение пунктов меню?">
    <div class="text-header">
      <span>Как изменить расположение пунктов меню?</span>
    </div>
    <hr/>
    <div>
      <p>
        Последний случай - <strong>внутрь пункта с типом "Список пунктов меню".</strong>
      </p>
      <p>
        Существуют пункты меню с типом "Список пунктов меню", которые внутри себя хранят также пункты меню. И с ними
        также можно взаимодействовать посредством данного функционала.
      </p>
      <p>
        Для этого наведите перетаскиваемый пункт меню на пункт меню с типом "Список пунктов меню". При наведении его
        границы
        примут темно-синий цвет, означающий что при отпускании левой кнопки мыши перетаскиваемый элемент окажется внутри
        указанного.
      </p>
      <p>
        Для извлечения пунктов меню на более высокий уровень вложенности - воспользуйтесь описанными ранее случаями.
      </p>
    </div>
    <div class="gif-container">
      <img src="../../../../assets/img/menu-reference/fourth-step.gif"/>
    </div>
    <div class="step-buttons">
      <button mat-button (click)="cancel()">Закрыть</button>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button matStepperNext>Далее</button>
    </div>
  </mat-step>

  <mat-step label="Как редактировать содержимое пунктов меню?">
    <div class="text-header">
      <span>Как редактировать содержимое пунктов меню?</span>
    </div>
    <hr/>
    <div>
      <p>
        Для редактирования параметров того или иного пункта меню необходимо нажать на кнопку редактирования, которая
        находится справа от каждого из блоков.
      </p>
      <p>
        Некоторые параметры пунктов меню зависят от их типа, но есть и общие:
      </p>
      <ul>
        <li>
          Название пункта меню - название, которое будет видеть пользователь
        </li>
        <li>
          Тип пункта меню - тип, от которого будет зависеть дальнейшее поведение при нажатии на пункт меню
        </li>
        <li>
          Изображение пункта меню - изображение, которое будет отображаться у пункта меню
        </li>
      </ul>
      <p>
        Если выбранный тип пункта меню - <strong>статья</strong> - добавляются две кнопки "Выбрать статью" и "Добавить
        новую статью".
        Необходимо либо выбрать уже существующую статью, либо добавить новую, которая автоматически прикрепится к
        указанному пункту меню. Если у пункта меню уже выбрана статья, то по нажатию на "Выбрать статью" текущая статья
        будет выделена в таблице.
      </p>
      <p>
        Если выбранный тип пункта меню - <strong>список статей</strong> - добавляется кнопка "Выбрать статьи", которая
        позволяет выбрать
        необходимые стать и прикрепить их к указанному пункту меню. Соответственно, пользователь по нажатию на данный
        пункт меню получит перед собой страницу со списком выбранных статей, которые будут представлены названиеим стать
        и её кратким содержанием. По аналогии с предыдущим типом, если статьи уже были выбраны, они отобразятся при
        нажатии на "Выбрать статьи"
      </p>
      <p>
        Если выбранный тип пункта меню - <strong>ссылка</strong>, то добавляется еще одно поле "Ссылка", которая
        позволяет прикрепить URL
        по которому будет перенаправлен пользователь после нажатия на пункт меню
      </p>
      <p>
        Если выбранный пункт меню - <strong>список пунктов меню</strong>, то ничего дополнительно здесь нет
        необходимости заполнять.
        Данный пункт позволяет положить внутрь другие пункты меню.
      </p>
      <p>
        Если выбранный пункт меню - <strong>расписание</strong> - ничего дополнительного не требуется. Создает пункт
        меню, представляющий
        собой ссылку-переход на расписание ТПУ. При этом, если у пользователя выбрана его учебная группа, то он попадет
        на расписание именно своей группы.
      </p>
    </div>
    <div class="step-buttons">
      <button mat-button (click)="cancel()">Закрыть</button>
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button matStepperNext>Далее</button>
    </div>
  </mat-step>

  <mat-step label="Как сохранить изменения?">
    <div class="text-header">
      <span>Как сохранить изменения?</span>
    </div>
    <hr/>
    <div>
      <p>
        Все изменения, производимые над пунктами меню, отображаются в "История изменений", которая располагается справа
        от блоков с пунктами меню. В истории видны основные изменения, которые были произведены над пунктами меню.
      </p>
      <p>
        Сохранение всех изменений производится по нажатию на кнопку в виде дискеты, которая расположена снизу справа.
        Кнопка появляется при первом же изменении над пунктами меню.
      </p>
    </div>
    <div class="gif-container">
      <img height="500px" src="../../../../assets/img/menu-reference/demonstrate_saving.gif"/>
    </div>
    <div class="step-buttons">
      <button mat-button matStepperPrevious>Назад</button>
      <button mat-button (click)="cancel()">Закрыть</button>
    </div>
  </mat-step>

</mat-horizontal-stepper>
