<div layout="row" layout-align="start stretch" flex="grow" class="main-card-container">
  <div class="main-card"
       (mouseup)="sendNotification()">
    <div class="title">Отправить уведомление</div>
    <div class="image">
      <img src="../../../assets/img/user-content-card/notification.png">
    </div>
  </div>

  <div class="main-card"
  (mouseup)="attachDocument()">
    <div class="title">Прикрепить документ</div>
    <div class="image">
      <img src="../../../assets/img/user-content-card/document.png">
    </div>
  </div>

</div>
