<div class="fullheight" layout="column">
  <div flex="auto">
    <div class="breadcrumbs-container">
      <div class="table-name">
        <span>{{tableName}}</span>
      </div>
      <div *ngIf="!isDialogView" layout-align="end center" layout="row">
        <button *ngIf="selectableButton" mat-button (click)="enableSelectUsers()">{{textSelectableButton}}</button>
        <button *ngIf="menuItemList.length" type="button" mat-icon-button matTooltip="Список функций"
                [matMenuTriggerFor]="registryMenu">
          <mat-icon color="grey">more_vert</mat-icon>
        </button>
        <mat-menu #registryMenu="matMenu">
          <button type="button" mat-menu-item *ngFor="let menuItem of menuItemList"
                  (click)="menuItemClick($event, menuItem)">{{menuItem.name}}</button>
        </mat-menu>
      </div>
    </div>
  </div>
  <div flex="grow">
    <mat-sidenav-container autosize class="table-container">
      <mat-sidenav-content>
        <div layout="column" layout-align="start stretch" layout-fill>
          <div flex="grow">
            <div class="layout-scroll-container">
              <div class="layout-scroll-container-inner">
                <div class="layout-scroll-content display-table-view">
                  <div class="loader-container"
                       *tdLoading="loadingKey; mode:'indeterminate'; type:'circle'; strategy:'overlay';">
                    <div class="layout-scroll-container">
                      <div class="layout-scroll-container-inner">
                        <div class="layout-scroll-content display-table-container">
                          <div class="data-table">
                            <sb-data-table
                              *ngIf="filteredData && (getDictsTableData() && dicts || !getDictsTableData())"
                              #dataTable
                              [data]="filteredData"
                              [columns]="columns"
                              [selectable]="selectable"
                              [multiple]="multiple"
                              [sortable]="true"
                              [sortBy]="sortBy"
                              [(ngModel)]="selectedRows"
                              [sortOrder]="sortOrder"
                              (sortChange)="sort($event)"
                              [iconColumn]="iconColumn"
                              [callerComponent]="this"
                              [iconImg]="iconImg"
                              [iconAction]="iconAction"
                            >
                              <ng-template *ngFor="let menuItemAdditional of additionalMenuItems"
                                           sbDataTableTemplate="{{menuItemAdditional.name}}" let-row="row">
                                <div layout="row">
                                  <button (click)="menuItemAdditional.func(row)" mat-button>
                                    <mat-icon>{{menuItemAdditional.icon}}</mat-icon>
                                  </button>
                                </div>
                              </ng-template>
                            </sb-data-table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div flex="auto">
            <td-paging-bar #pagingBar [pageSize]="pageSize" [total]="filteredTotal" (change)="page($event)">
              <span hide-xs>Записей на странице:</span>
              <mat-select [style.width.px]="50" [(ngModel)]="pageSize">
                <mat-option *ngFor="let size of [25, 50, 100, 150]" [value]="size">
                  {{ size }}
                </mat-option>
              </mat-select>
              {{ pagingBar.range }}
              <span hide-xs>из {{ pagingBar.total }}</span>
            </td-paging-bar>
          </div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
