<mat-toolbar class="header-toolbar">
  <div class="fullwidth fullheight" layout="row" layout-align="space-between center">
    <div layout="row" layout-align="start center" layout-fill flex="75">
      <a (click)="navigateTo(mainPageMenuItem)" class="header-logo-wrapper" layout="row" layout-align="start center">
        <img src="../../../../../assets/img/pretpu-logo.svg" alt="PreTPU. Администраторская панель"
             title="PreTPU. Администраторская панель" class="header-logo">
      </a>
      <div class="menu-top fullheight" layout="row" layout-align="start center">
        <ng-container *ngIf="isLoggedIn">
          <!-- меню для больших экранов -->
          <div class="header-menu-big" layout="row" layout-fill layout-align="start center">
            <ng-container *ngFor="let menuItem of rootMenuItems">
              <ng-container *ngIf="menuItem.children && menuItem.children.length">
                <button #menuTrigger [matMenuTriggerFor]="menu" class="menu-top-item"
                        #levelOneTrigger="matMenuTrigger"
                        (mouseenter)="buttonEnter(levelOneTrigger)"
                        (mouseleave)="buttonLeave(levelOneTrigger)">
                  {{menuItem.name}}
                  <mat-icon color="grey">keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu" [overlapTrigger]="false" [hasBackdrop]="false" class="menu-top-list">
                  <div (mouseenter)="menuEnter()" (mouseleave)="menuLeave(levelOneTrigger)">
                    <ng-container *ngFor="let item of menuItem.children">
                      <button mat-menu-item (click)="navigateTo(item)">
                        <div>
                          {{item.name}}
                        </div>
                        <mat-divider></mat-divider>
                      </button>
                    </ng-container>
                  </div>
                </mat-menu>
              </ng-container>
              <ng-container *ngIf="!menuItem.children || !menuItem.children.length">
                <button (click)="navigateTo(menuItem)" class="menu-top-item">{{menuItem.name}}</button>
              </ng-container>
            </ng-container>

          </div>

          <div class="header-menu-min" layout="row" layout-fill layout-align="start center">

            <button #menuTrigger [matMenuTriggerFor]="levelOne" class="menu-top-item"
                    #levelOneTrigger="matMenuTrigger"
                    (mouseenter)="buttonEnter(levelOneTrigger)"
                    (mouseleave)="buttonLeave(levelOneTrigger)">
              Навигация
              <mat-icon color="grey">keyboard_arrow_down</mat-icon>
            </button>

            <mat-menu #levelOne="matMenu" direction="down" yPosition="below" [overlapTrigger]="false"
                      [hasBackdrop]="false" class="menu-top-list">
              <div (mouseenter)="menuEnter()" (mouseleave)="menuLeave(levelOneTrigger)">
                <ng-container *ngFor="let menuItem of rootMenuItems; let last = last">
                  <ng-container *ngIf="menuItem.children && menuItem.children.length > 0">
                    <button mat-menu-item
                            #levelTwoTrigger="matMenuTrigger"
                            [matMenuTriggerFor]="levelTwo">
                      {{ menuItem.name }}
                      <mat-divider *ngIf="!last"></mat-divider>
                    </button>

                    <mat-menu #levelTwo="matMenu" [overlapTrigger]="false" [hasBackdrop]="false" class="menu-top-list">
                      <div (mouseenter)="menu2Enter()" (mouseleave)="menu2Leave(levelOneTrigger,levelTwoTrigger)">
                        <button mat-menu-item
                                *ngFor="let childItem of menuItem.children"
                                (click)="navigateTo(childItem)">
                          {{ childItem.name }}
                          <mat-divider></mat-divider>
                        </button>
                      </div>
                    </mat-menu>
                  </ng-container>

                  <ng-container *ngIf="!menuItem.children">
                    <button mat-menu-item
                            (click)="navigateTo(menuItem)">
                      {{ menuItem.name }}
                      <mat-divider></mat-divider>
                    </button>
                  </ng-container>
                </ng-container>
              </div>
            </mat-menu>

          </div>
        </ng-container>
      </div>
    </div>
    <div class="header-toolbar-right" flex="25">
      <div layout="row" layout-align="end center" layout-fill>
        <ng-container>

          <button (click)="logout()" class="menu-top-item">
            Выйти
            <mat-icon style="padding-left: 10px" svgIcon="logout"></mat-icon>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</mat-toolbar>
