<div class="menu-registry">
  <div class="flex-center">
    <mat-form-field *ngIf="dicts && dicts.languages" appearance="fill">
      <mat-label>Язык</mat-label>
      <mat-select [(ngModel)]="currentLanguage" (selectionChange)="languageChange()">
        <mat-option *ngFor="let lang of dicts.languages" [value]="lang.id">
          {{lang.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div style="display: inline-block" *ngIf="currentLanguage">
      <button mat-button (click)="addNewItem()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <div class="loader-container"
       *tdLoading="'menuLoadingName'; mode:'indeterminate'; type:'circle'; strategy:'overlay';">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <div [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                              'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                              'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
             draggable="true"
             (dragstart)="handleDragStart($event, node)"
             (drop)="handleDrop($event, node)"
             (dragover)="handleDragOver($event, node)"
             (dragend)="handleDragEnd($event)" class="tree-node">
          <button mat-icon-button disabled></button>
          {{node.name}} {{node.type}}
          <button mat-button *ngIf="node.type === 'LINKS_LIST'" (click)="addNewItem(node)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-button (click)="edit(node)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="remove(node)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                     matTreeNodePadding>
        <div [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                              'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                              'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
             draggable="true"
             (dragstart)="handleDragStart($event, node)"
             (drop)="handleDrop($event, node)"
             (dragover)="handleDragOver($event, node)"
             (dragend)="handleDragEnd($event)" class="tree-node">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.filename" (click)="expansionModel.toggle(node.id)">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}} ({{node.type}})
          <button mat-button *ngIf="node.type === 'LINKS_LIST'" (click)="addNewItem(node)">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-button (click)="edit(node)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-button (click)="remove(node)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </mat-tree-node>
    </mat-tree>

  </div>
  <app-save-form-button *ngIf="hasAnyChange" (save)="save()">
  </app-save-form-button>
  <span #emptyItem></span>
</div>
