<div class="layout-scroll-container"
     *tdLoading="loader; mode:'indeterminate'; type:'circle'; strategy:'overlay';">
  <div class="reset-password-page">
    <div class="login-page">
      <div class="center-box">
        <mat-card class="login-card">
          <mat-card-content>
            <div>
              <img src="../../../assets/img/pretpu-logo.svg" alt="ТПУ. Администраторная панель PreTPU"
                   title="ТПУ. Администраторная панель PreTPU"
                   class="reset-password-logo">
            </div>
            <div class="reset-password-title">
              <span>Восстановление пароля</span>
            </div>
            <form [formGroup]="form">
              <mat-form-field class="login-input-container fullwidth" [floatLabel]="'always'">
                <mat-label>Новый пароль</mat-label>
                <input formControlName="newPassword" autocomplete="new-password" matInput name="pwd"
                       type="{{passwordFieldVisibility ? 'text' : 'password'}}">
                <span class="error-label" *ngIf="isInvalid('newPassword')" matTooltip="{{getError('newPassword')}}">
                  <mat-icon color="warn">warning</mat-icon>
                </span>
                <button mat-icon-button matSuffix tabindex="-1" (mousedown)="changeVisibilityPC()">
                  <mat-icon
                    color="grey">{{passwordFieldVisibility ? 'visibility_off' : 'visibility'}}
                  </mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field class="login-input-container fullwidth" [floatLabel]="'always'">
                <mat-label>Новый пароль повторно</mat-label>
                <input autocomplete="new-password"
                       matInput
                       name="repeatPwd"
                       type="{{repeatPasswordFieldVisibility ? 'text' : 'password'}}"
                       formControlName="repeatNewPassword"
                >
                <span class="error-label" *ngIf="isInvalid('repeatNewPassword')"
                      matTooltip="{{getError('repeatNewPassword')}}">
                  <mat-icon color="warn">warning</mat-icon>
                </span>
                <button mat-icon-button matSuffix tabindex="-1" (mousedown)="changeVisibilityRPC()">
                  <mat-icon
                    color="grey">{{repeatPasswordFieldVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>

              <div class="mat-error" *ngIf="errorMessage">
                {{errorMessage}}
              </div>

              <div class="login-button-wrapper">
                <button mat-raised-button (click)="doReset()" class="login-button"
                        [disabled]="form.invalid" color="primary">Сменить пароль
                </button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
